/* -----RESET----- */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* -------------------- */
:root {
    font-family: 'Segoe UI', Verdana, sans-serif; 

    --interactive-objects-color:  #3992ff;
    --animation-objects-color: #000;
    --text-color: #0d0f36;
    --animation-text-color: #fff;
    --bg-color: #fff;    
    --bg-banner-color: #294380;
}
    .dark-mode:root {
        --bg-color: ;
    }
a {
    text-decoration: none;
}

.ss-font-color{
    color: #25e832;
}

.btn-ss{
    background-color: #25e88d;
    cursor: pointer;
}

i{
    color: darkgrey;
}
