/* -----RESET----- */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
/* -------GLOBAL-------- */
:root {
    font-family: 'Segoe UI', Verdana, sans-serif; 

    --interactive-objects-color:  #3992ff;
    --animation-objects-color: #000;
    --text-color: #0d0f36;
    --animation-text-color: #fff;
    --bg-color: #fff;    
    --bg-banner-color: #294380;
}
    .dark-mode:root {
        --bg-color: ;
    }